<!doctype html>
<html>
  <head>
    <title>{{ title }}</title>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    {# Favicon Handling #}
    {# All this, plus the normal one at root #}
    <link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-touch-icon.png?v=BG70oBaPzN">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicons/favicon-32x32.png?v=BG70oBaPzN">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicons/favicon-16x16.png?v=BG70oBaPzN">
    <link rel="manifest" href="/favicons/site.webmanifest?v=BG70oBaPzN">
    <link rel="shortcut icon" href="/favicons/favicon.ico?v=BG70oBaPzN">
    <meta name="msapplication-TileColor" content="#1886cd">
    <meta name="msapplication-config" content="/favicons/browserconfig.xml?v=BG70oBaPzN">
    <meta name="theme-color" content="#1886cd">

    {# Google's Material Icons Font #}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    {# MaterializeCSS Framework's CSS #}
    <link type="text/css" rel="stylesheet" href="{{ urls['css/materialize.min.css'] }}" media="screen, projection"/>

    {# Custom Styles #}
    <link type="text/css" rel="stylesheet" href="{{ urls['css/styles.css'] }}" media="screen, projection"/>
    {% block styles %}{% endblock %}

    {# Mobile Compatbility Tag #}
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
  <body>
    {% block content %}{% endblock %}

    {# JavaScript Includes #}
    {# MaterializeCSS Framework's JavaScript #}
    <script type="text/javascript" src="{{ urls['js/materialize.min.js'] }}"></script>

    {# Cookies? #}
    {# CSS outside of head: This is to stop render blocking for CSS that won't be used until the JS is loaded anyway #}
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.css"/>
    <script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.js"></script>

    {# Custom Scripts #}
    <script type="text/javascript" src="{{ urls['js/script.js'] }}"></script>
    {% block footer %}{% endblock %}
  </body>
</html>
